.nav-bar {
    background-attachment: fixed;
    background-color: black;
}

.category {
    margin-left: .5rem;
}

.home-img {
    display: flex;
    align-self: flex-start;
    justify-self: start;
    width: auto;
    height: auto;
}

.prof {
    display: block;
    justify-content: space-between;
}

.header {
    display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  background-color: gray;
  padding: 10px;
  margin: 20px;
}

.curr-user {
    background-color: azure;
}