.nav-bar {
    background-attachment: fixed;
    background-color: black;
}

.home-img {
    display: flex;
    align-self: flex-start;
    justify-self: start;
    width: auto;
    height: auto;
}

.prof {
    display: block;
    justify-content: space-between;
}