.itemCard {
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid;
    border-color: #00adb5;
    padding: 5px;
    background-color: #f2ebe9;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: beige;
  }

  .reviewsImage {
    width: 90%;
    height: auto;
    align-items: center;
    margin: 15px;
    padding: 0 5px;
    box-shadow: none;
  }
  img {
    text-decoration: none;
    border: 0px;
  }

  .inputlabel-one {
    color: gray;
  }

  .first-form {
    color: gray;
  }

  .query {
    margin: auto;
    background-color: rgba(224, 224, 224, 0.5);
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    text-align: center;
  }

  @media only screen and (min-width: 780px) {
    .itemCard {
      margin-bottom: 1rem;
      margin-right: 1rem;
      border: 1px solid;
      border-color: #00adb5;
      padding: 5px;
      background-color: #f2ebe9;
      display: flexbox;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    h1 {
      color: beige;
    }
  
    .reviewsImage {
      width: 60%;
      height: auto;
      align-items: center;
      margin: 15px;
      padding: 0 5px;
      box-shadow: none;
    }
    img {
      text-decoration: none;
      border: 0px;
    }
    .inputlabel-one {
      color: gray;
    }
  }