.itemCard {
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: 1px solid;
    border-color: #00adb5;
    padding: 5px;
    background-color: #f2ebe9;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .error {
    color: beige;
  }
  
  h1 {
    color: beige;
  }

  .reviewsImage {
    width: 90%;
    height: auto;
    align-items: center;
    margin: 15px;
    padding: 0 5px;
    box-shadow: none;
  }
  img {
    text-decoration: none;
    border: 0px;
  }

  @media only screen and (min-width: 780px) {
    .itemCard {
      margin-bottom: 1rem;
      margin-right: 1rem;
      border: 1px solid;
      border-color: #00adb5;
      padding: 5px;
      background-color: #f2ebe9;
      display: flexbox;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    h1 {
      color: beige;
    }
  
    .reviewsImage {
      width: 60%;
      height: auto;
      align-items: center;
      margin: 15px;
      padding: 0 5px;
      box-shadow: none;
    }
    img {
      text-decoration: none;
      border: 0px;
    }

    .upvote {
      background-color: greenyellow;
    }
    .downvote {
      background-color: red;
    }
  }